spring:
  application:
    name: University Management System

  datasource:
    url: jdbc:postgresql://localhost:5432/university_db
    driverClassName: org.postgresql.Driver
    username: postgres
    password: 123261181

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_schema: public

  jackson:
    serialization:
      indent-output: true
      write-dates-as-timestamps: false
    default-property-inclusion: non_null

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
